In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# InteractiveShell.ast_node_interactivity = "last_expr"

In [6]:
import plotly.plotly as py
import plotly.graph_objs as go
import pandas as pd
import plotly

In [7]:
plotly.tools.set_credentials_file(username='ahmedamdg', api_key='ogfSzyLWtDPni5gfWAPn')

In [8]:
# import data
counties_summary = pd.read_csv('../Data/counties_summary.csv')

In [9]:
counties_summary.head()

,county,total_registered,voted,void,neutral,suffrage,perct_turnout,biram,kane,ghazouani,wavi,mewloud,boubacar
0,Afrique,8178.0,4068.0,125.0,50.0,3893.0,0.497432,1009,250,1188,52,94,1300
1,Akjoujt,9661.0,5933.0,95.0,64.0,5774.0,0.614119,300,288,3422,14,128,1622
2,Aleg,52156.0,32328.0,935.0,137.0,31256.0,0.619833,2324,286,20143,49,427,8027
3,Amourj,35019.0,20004.0,670.0,68.0,19266.0,0.571233,712,84,16804,56,44,1566
4,Aoujeft,9479.0,5786.0,70.0,24.0,5692.0,0.610402,75,21,4395,9,396,796

In [10]:
trace1 = go.Bar(
    x=['giraffes', 'orangutans', 'monkeys'],
    y=[20, 14, 23],
    name='SF Zoo'
)
trace2 = go.Bar(
    x=['giraffes', 'orangutans', 'monkeys'],
    y=[12, 18, 29],
    name='LA Zoo'
)

data = [trace1, trace2]
layout = go.Layout(
    barmode='stack',
    title = "this is the title"
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='stacked-bar')